/* General Styles */
body {
    font-family: Garamond;
    background-color: #000;
}

/* Header Styles */
h1 {
    color: black;
    margin: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

/* Message Container Styles */
.messagecontainer {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid white;
}

/* Chatbox Styles */
#chatbox, #typing, #userInput {
    margin: 10px auto;
}

/* User Input Styles */
#userInput {
    background-color: #fff;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

#textInput {
    width: 90%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 20px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

/* Chat Suggest Styles */
.chatSuggest {
    padding: 3px;
    margin: 15px 15px 0 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #545454;
    background: #ffff00;
    cursor: pointer;
}

/* User Text Styles */
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 20px;
    background-color: #0000FF;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30%;
}

/* Bot Text Styles */
.botText {
    background-color: #f55a00;
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    border-radius: 10px;
    padding: 5px;
    min-height: 68px;
    margin-right: 25%;
    margin-bottom: 2px;
}

/* Avatar Styles */
.avatar {
    border-radius: 10px;
    max-width: 64px;
    max-height: 96px;
}

/* Tidbit Styles */
#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}